body {
    background-color: cornsilk;
    margin: 0;
    margin: auto;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.text-center{
    text-align: center;
}

#profile-page {
    width: 800px; margin:auto
}

.cv-section {
    border: 5px groove #aaba9e;
    padding: 1px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #dbe1bc;
}

section{
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    margin-top: 10px;
}

.link-design{
    border: 5px groove #aaba9e;
    border-radius: 5px;
    background-color: #dbe1bc;
}

.cv-section h2{
    margin-left: 20px;
    margin-right: 20px;
}
.information{
    border: 5px groove #aaba9e;
    border-radius: 5px;
    background-color: #dbe1bc;
}


ul li {
    color: black;
}

a:hover {
    color:darkred;
}

.profile-image {
    display: block;
    margin:0 auto;
    border: 5px groove #aaba9e;
    border-radius: 50%;
    margin-bottom: 1em;
}

.erfarenheter-design{
    border:groove #aaba9e;
    border-radius: 5px;
    margin-right: 20px;
}

.utbildning-design{
    margin-right: 20px;
}

ul{
    text-align: left;
}

.button-design{
    border: 5px groove #aaba9e;
    border-radius: 5px;
    background-color: #dbe1bc;
}